.hide { display: block; }  
section { clear: left; page-break-after: always; }
.glossary { display:none; }
#nav { display: none; }
table { width: 100%; border: none; }
footer { display:none; }
.recommendation { width: 100%; margin-top: 0; }
.recommendation img { width: 150px;  }