<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="css/audit.css" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Duplin County Partnership for Children Web Audit</title>
  </head>

  <body ng-app="audit">
    <div id="container">
      <div class="inner">
        <header>
          <h1>Duplin County Partnership for Children Web Audit</h1>
          <h2>Recommendations</h2>
        </header>

        <hr>

        <section id="main_content">
           <a href="index.html">Home</a> |
           <a href="glossary.html">Glossary</a> | 
           <a href="baseline.html">Baseline</a> |
           <span>Recommendations</span>

            <div ng-controller="recommendCtrl">
                <table>
                   <tr><th class="tblhead" colspan="2"><h3>Site Feedback</h3></th></tr>
                    <tr>
                        <th>Attribute</th>
                        <th>Details</th>
                    </tr>
                    <tr ng-repeat="item in recommendations.site | orderBy: 'sort'">
                        <td ng-bind="item.title"></td>
                        <td audit-recommend-details="item.details"></td>
                    </tr>
                </table>
                
                <table>
                   <tr><th class="tblhead" colspan="3"><h3>Page Feedback</h3></th></tr>
                    <tr>
                        <th>Image</th>
                        <th>Page</th>
                        <th>Details</th>
                    </tr>
                    <tr ng-repeat="item in recommendations.pages | orderBy: 'sort'">
                        <td><a ng-href="{{item.link}}" target="_blank"><img ng-src="{{item.img}}" /></a></td>
                        <td ng-bind="item.title"></td>
                        <td audit-recommend-details="item.details"></td>
                    </tr>
                </table>
                
                <table>
                   <tr><th class="tblhead" colspan="4"><h3>Tiered Recommendations</h3></th></tr>
                    <tr>
                        <th></th>
                        <th>Low</th>
                        <th>Medium</th>
                        <th>High</th>
                    </tr>
                    <tr ng-repeat="item in recommendations.tiers | orderBy: 'sort'">
                        <td ng-bind="item.title"></td>
                        <td ng-bind="item.details.low"></td>
                        <td ng-bind="item.details.med"></td>
                        <td ng-bind="item.details.high"></td>
                    </tr>
                </table>
            </div>
        <p><ul>
            
        </ul></p>

        </section>

        <footer>
          Duplin County Partnership for Children Web Audit is maintained by <a href="https://github.com/KamiQuasi">Luke Dary</a>
        </footer>

        
      </div>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script>
        (function() {
            angular.module('audit', ['ngResource'])
                .factory('recommendations', ['$resource', function($resource) {
                    return $resource('data/recommendations.json', null, {});
                }])
                .directive('auditRecommendDetails', function() {
                    return {
                        scope: { auditRecommendDetails: '=' },
                        link: function(scope, element, attr) {
                            var obj = scope.auditRecommendDetails,
                                upd = '';
                            if(typeof obj === "object") {
                                upd = '<ul>';
                                for(var i=0, len=obj.length; i<len; i++) {
                                    upd += '<li><strong>'+obj[i].area+'</strong> - '+obj[i].note+'</li>';
                                }
                                upd += '</ul>';
                            }
                            
                            element.html(upd);
                        }
                        
                    };
                })
                .controller('recommendCtrl', ['$scope', 'recommendations', function($scope, recommendations) {
                    $scope.recommendations = recommendations.get();  
                }]);
        }())
    </script>
  </body>
</html>